---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: rook-ceph-operator
      namespace: rook-ceph
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 15m
  values:
    controllers:
      *app :
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "@hourly"
        containers:
          *app :
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.0@sha256:501b11944dee330991590483c6ea68efee94e4a7a4be09cf7935001feede5ee8
            args:
              - sync
            env:
              RECYCLARR_CREATE_CONFIG: true
            resources:
              requests:
                cpu: 5m
                memory: 36M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block-internal
        advancedMounts:
          *app :
            *app :
              - path: /config
      static-configs:
        type: configMap
        name: recyclarr-configs
        globalMounts:
          - path: /config/configs/radarr.yaml
            subPath: radarr.yaml
            readOnly: true
          - path: /config/configs/radarr-chan.yaml
            subPath: radarr-chan.yaml
            readOnly: true
          - path: /config/configs/sonarr.yaml
            subPath: sonarr.yaml
            readOnly: true
          - path: /config/configs/sonarr-chan.yaml
            subPath: sonarr-chan.yaml
            readOnly: true
